
body {
  background-image: url("../img/map-dashboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}